language: ruby

env:
  global:
    - COVERITY_SCAN_TOKEN="FMRIPPN6gYW3oAciFHJJ7A"

addons:
  apt:
    packages:
    - gnutls-bin
  coverity_scan:
    project:
      name: "Hamid-Mansha2/testing_issue"
    notification_email: hamid.mansha@travis-ci.org
    build_command_prepend: "echo 'Preparing build...'"
    build_command: "echo 'Building...'"
    branch_pattern: coverity_scan

script:
  - echo "No tests to run."
